
@import url("https://fonts.googleapis.com/css?family=Monda|Permanent+Marker&display=swap");

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");

body{
	font-family: 'Monda', sans-serif;
	font-size: 18px;
	margin: 0px;
	text-align: center;
}

h1,h2,h3{
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	color: black;
	font-size: 32px;
}

a{
	text-decoration: none;
	font-family: 'Permanent Marker', cursive;
}

